.box{
    height: 80vh;
    max-width: 55vw;
}
.events{
    max-width: 20vw;
}
h1{
    padding-top: 2%;
   text-align: center;
   font-weight: 500;
   font-size: 2.5em;
    background:linear-gradient(135deg, #3b82f6 0%, #1d4ed8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.weekday{
    display: flex;

    list-style-type: none;
    
}
.days{
    display: flex;
    list-style: none;
   
}
.Calendar{
    border-radius: 15px;
    width: 100%;
    margin-top: 10%;


    table-layout: fixed;
    
}
.wrap{
    display: flex;
    justify-content: center;
    width: 100%;
}
td{
    font-weight: 500;
    vertical-align: top;
    padding: 8px 4px;

}
th{
    padding: 8px 4px;
}

.event{
    background-color: rgba(251, 255, 0, 0.5);
    border-radius: 15px;
    padding: 2px;
    
}
.Upcoming{
    list-style-type: none;
}
.date{
    font-size: 1.3em;
    font-weight: lighter;
}
.name{
    font-size: 1.8em;
    font-weight: 500;
}
.Upcoming li{
    margin-left: 5%;
    margin-top: 10%;
}
.desc{
    font-weight: lighter;
    text-align: center;
    font-size: 1.2em;
}
@media(max-width:1500px){
  th{
    font-size: 0.6em;
  }
  .event{
    font-size: 0.7em;
    padding: 1px;
    width: 115%;
  }
  .events{
    width: 100vw;
  }
  .Upcoming{
    font-size: 0.8em;
  }
    
}

@media(max-width:700px){
  th{
    font-size: 0.55em;
    
  }
  .event {
        font-size: 0.6rem;
        padding: 1px 2px;
        border-radius: 8px;
        width: 115%;
    }
    
}