
.event-box{
background: #fff;
  border-radius: 16px;
  padding: 1rem;
  display: flex;

  flex-direction: column;
  gap: 0.4rem;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  height: 15rem;
  width: 20rem;
}
.event-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  
}
.main{
    display: flex;
    flex-direction: column;
}

.event-title{
    font-size: 1.7rem;
}
.event-desc{
    font-size: 1.1rem;
}
.details{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.side-image{
    height: 1rem;
    padding-right: 0.2rem;
}
.event-type{
  background: rgba(59, 130, 246, 0.12);
  color: #1d4ed8;
  width: 50%;
  border-radius: 5px;
}
.event-date{
 background: rgba(59, 130, 246, 0.12);
  color: #1d4ed8;
  width: 50%;
  border-radius: 5px;
}
.event-time{
  background: rgba(59, 130, 246, 0.12);
  color: #1d4ed8;
  width: 50%;
  border-radius: 5px;
}
h2{
    font-weight: 500;
    margin-bottom: 1rem;
}