*{
    font-family: Roboto;
    color: #1f2937;
}
a{
    text-decoration: none;
}
html{
   background-color: rgb(238, 247, 255);
}
.nav{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 20px;
    font-weight: 600;
    margin-right: 2%;
    font-size: 1.2rem;
}
.item{
    transition: all 0.3s ease;
}
.item:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.text{
    font-size: 1vw;
    width: 70%;
}
main{
    margin-top: 10%;
    margin-left: 25%;
}
.btn {
    
    background: linear-gradient(135deg, #3b82f6 0%, #1d4ed8 100%);
    color: white;
    padding: 16px 32px;
    border-radius: 12px;
    border: solid 0px whitesmoke;

    font-weight: 600;
    font-size: 1rem;

    box-shadow: 0 10px 25px -5px rgba(59, 130, 246, 0.3);
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
}
.logo{
    width: 120px;
    position: fixed;
    left: 0;
    margin-left: 1%;
}
.title{
    font-size: 3.5rem;
}
main{
    display: flex;
  
}
main img{
    width: 35%;
    margin-top: -5%;

}
main div{
    margin-left: 2%;
}
.box{
    margin-right: 30%;
    margin-top: -10%;
    background-color: whitesmoke;
    width: 100%;
   height: 80vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
form{
    
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;


}
h2{
    text-align: center;
    font-size: 2rem;
    
}
.header2{
     background: linear-gradient(135deg, #3b82f6 0%, #1d4ed8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.input{
    width: 70%;          
    padding: 10px;     
    margin-bottom: 15px; 
    border-radius: 10px;
    border: 2px solid #e2e8f0;
    font-size: 1em;
    
   
    

}
form h2{
    font-size: 2.5em;
}
.button{
    width: 14rem;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #e2e8f0;
    font-size: 1.3rem;
    font-weight: 600;
    background: linear-gradient(135deg, #3b82f6 0%, #1d4ed8 100%);
    color: white;
    text-align: center;
    
}
.btns{
    display: flex;
   justify-content: center;
   gap: 20px;
   margin-right: 14px;
   

}
