*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    color: #1f2937;
}
.logo{
    list-style-type: none;
    height: 20vh;
    width: 10vw;
    
}
.profile{
    position: absolute;
    top: 2%;
    left: 97%;
}
a{
    color: inherit;
    text-decoration: none;
}
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;        
    gap: 20px;
   
    padding-right: 10rem;
    max-width: 1300px;
    margin-top: 5vw;
    padding-left: 10vw;
}

.main_block {
    grid-column-start: 1; 
    grid-column-end: 3;
    background-color: rgb(255, 255, 255);
    min-height: 200px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background:linear-gradient(135deg, #3b82f6 0%, #1d4ed8 100%);
    
}
html{
    background-color: rgb(238, 247, 255);
}

.nav img{
    height: 25px;
    width: 25px;
    transition:  all 0.3s ease;
}
.nav{
    list-style-type: none;
    margin-bottom: 2%;
    font-size: 1.2vw;
    font-family: Roboto;
    font-weight: 500;
    display: flex;         
    align-items: center;    
    gap: 10px; 
    margin-top: 10%;
    transition: all 0.3s ease;
    padding: 10px;
}
.nav-bar{
    background-color: white;
    padding-left: 2%;
    height: 100vh;

    position: sticky;
    top: 0;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding-left:1rem;
    padding-right:2rem;
}
.leave{
    margin-top: 100%;
    margin-bottom: 10%;
}
.nav:hover{
    transform: scale(1.1);
 
    cursor: pointer;
    
}
.nav:hover img{
    transform: scale(1.2);
}

.main_block ul li{
    list-style-type: none;
    font-family: Roboto;
    font-weight: 800;
    color: #1f2937;
    padding-left: 5%;
    padding-top: 0.5%;
  
}

.main_block ul{
    padding-top: 5.2%;
}
.Address{
    font-size: 3rem;
}
.Code{
    font-size: 1.4em;
    background: rgba(255,255,255,0.2);
    display: inline-block;
    border-radius: 20px;
   padding-right: 5%;
    padding-bottom: 0.5%;
    margin-left: 5%;


}

 
.box {
   
    background-color: white;
    border-radius: 20px;
   
    height: 40vh;
  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   
}
.Title{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.Current{
    color: rgb(61, 61, 255);
    filter: invert(26%) sepia(100%) saturate(7460%) hue-rotate(225deg) brightness(100%) contrast(101%);
}   
.head{
    
    font-weight: 500;
    font-size: 1.5em;
   padding-left: 1%;
   padding-top: 2.5%;
    color: #1f2937;
}
.box img{
    height: 20px;
    width: 20px;
    margin-left: 3%;
    padding-right: 1%;
    padding-top: 2%;
}
.Update{
    list-style-type: none;
    padding-left: 9%;
    margin-top: 5%;
}
.Update li{
   font-family: Roboto;
    font-weight: 500;
    font-size: 1.3em;
    color: #1f2937;
    padding-left: 5%;
    padding-top: 2%;
    margin-top: 5%;
    width: 85%;
    height: 9vh;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}
.Update li:hover{
    background-color: rgb(243, 243, 243);
}
.Update .Time{
    font-size: 1em;
}

@media (max-width: 1450px) {
    .main {
        
       
        margin:  0 auto;
        padding-top: 10vh;
        
        
    }
}
@media(max-width:1000px){
    
    .main{
    
        display: flex;
        flex-direction: column;
        
  
     
    }
    .Address{
        font-size: 2.5em;
    }
    
}
@media(max-width:700px){
    *{
        font-size: 0.99em;
    }
    .main{
        width: 60vw;
    }
}
.app-layout {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
    gap: 2.5rem;
}