@using VecinoBuildingMangement.Models
@using VecinoBuildingMangement.ViewModels
@model List<PollViewModel>

@{
    ViewData["Title"] = "ViewPolls";
    ViewData["Active"] = "polls";
    Layout = "~/Views/Shared/MasterResidentPage.cshtml";
}

<link rel="stylesheet" href="../css/poll.css">
<main class="main">
    <div class="box">
        <h1>Digital Polls</h1>
        <div class="polls">
            @foreach(PollViewModel pollViewModel in Model)
            {
                <div class="poll">
                    <h2>@pollViewModel.poll.PollTitle</h2>

                    <div class="options">
                        @foreach(OptionViewModel optionViewModel in pollViewModel.options)
                        {
                            <div class="option">
                                <div class="bar" style="width: 36%;"></div>
                                <span>@optionViewModel.option.OptionText</span>
                                <span class="precent">@optionViewModel.voted</span>
                            </div>
                        }

                    </div>
                    <div class="votes">
                        <span class="option1">Yes </span> <input type="radio"> <span class="option2">No </span>  <input type="radio">
                        <button class="btn">Vote</button>
                    </div>


                </div>
            }
            
         


            
        </div>

    </div>
</main>
