@{
    ViewData["Title"] = "MasterGuestPage";
    
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/guest.css"/>
    <title>Home Page</title>
</head>
<body>
    
        <ul class="nav">
            <li> <a href="http://localhost:5086/Guest/HomePage"> <img src="~/Images/logo_small.png" class="logo"></a> </li>
            <li class="item"><a href="http://localhost:5086/Guest/ViewBuildingCatalogue"> Buildings</a></li>
            @if (ViewBag.IsLoggedIn == null)
            {
                <li class="item"><a href="http://localhost:5086/Resident/LoginForm"> Login</a></li>
            <li class="item"> <a href="http://localhost:5086/Guest/RegisterForm"> Register</a></li>
        }
        else
        {
            <li class="item"> <a href="http://localhost:5086/Resident/JoinBuildingForm">Join Building</a></li>
        }
                
        </ul>
    
   

    
    @RenderBody()

</body>
</html>
