
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/MasterGuestPage.cshtml";
}

<link href="~/css/guest.css" rel="stylesheet" />
<main>

    <img src="~/Images/buildings.svg"/>
    <div>
        <h1 class="title">Vecino</h1>
        <p class="text">Vecino is a modern platform that makes managing residential buildings simple and transparent. Committees can collect payments, handle service requests, and organize votes with ease, while residents enjoy clear communication, real-time updates, and a stronger sense of community — all in one app.</p>
        <button class="btn">Get Started</button>

    </div>
</main>

